/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
	background-image: url("images/background.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: center;
	background-repeat: no-repeat;
	color: white;
}

header {
	display: flex;
    position: sticky;
    top: 0;
	background-color:aqua;
	text-align: center;
	padding: 1rem 2rem;
	z-index: 100;
	color: black;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	margin: 0 auto;
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.logo img {
	height: 100px;
	width: auto;
}

.logo .name {
	font-size: 1.5rem;
	font-weight: bold;
	white-space: nowrap;
}

.nav-links {
	display: flex;
	gap: 1rem;
	color: white;
}

.nav-links a {
	text-decoration: none;
	font-size: 1.25rem;
	color: black;
}

.nav-links a:hover {
	color: #ddd;
}

footer {
    text-align: center;
    font-size: 0.9em;
	bottom: 0;
    background-color: aqua;
	color: black;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2rem;
	background-color: #000000;
	max-width: 600px;
	color: aqua;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.1rem;
	width: 100%;
	max-width: 400px;
}

#contact input, #contact textarea, #contact button {
	width: 100%;
	padding: 0.6rem;
	font-size: 1rem;
	border: 1px solid #000000;
	border-radius: 0.25rem;
}

#contact button {
	background-color: aqua;
	border: 1px solid #000000;
	border-radius: 0.25rem;
}

#contact button:hover {
	background-color: aqua;
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	margin-top: 5rem;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.about-content {
	display: flex;
	align-items: center;
	gap: 2rem;
	max-width: 1000px;
	width: 85%;
}

.headshot {
	width: 300px;
	height:300px;
	object-fit: cover;
	border: 10px solid #000000;
}

.about-content p {
	font-size: 1rem;
	text-align: left;
	line-height: 1.6;
}

#about h2 {
	font-size: 1.25rem;
}

#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	margin-top: 5rem;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
#home h2 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

#home p {
	font-size: 1rem;
}

#projects {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.75);
	margin-top: 100px;
	margin-bottom: 100px;
	gap: 2rem;
	color: white;
}

.project-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	width: 100%;
}

.project {
	flex: 1;
	max-width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-carousel {
	flex: 1;
	max-width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 400px;
	overflow: hidden;
	z-index: 1;
}

.carousel-item {
	display: none;
	width: 100%;
	transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
	width: 100%;
	height: auto;
	object-fit: contain;
	max-height: 100%;
	display: block;
}

.carousel-item.active {
	display: block;
	opacity: 1;
}

.carousel-previous, .carousel-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.carousel-previous {
	left: 10px;
}

.carousel-next {
	right: 10px;
}

.carousel-previous:hover, .carousel-next:hover {
	background-color: rgba(0, 0, 0, 0.75);
}

#projects h2 {
	margin: 0;
	padding: 20px;
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}